.board {
    width: 450px;
    height: 550px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
  }
  
  .row {
    flex: 33%;
    display: flex;
    flex-direction: row;
    margin: 5px;
  }

@media (max-width: 620px) {
  .board {
    width: 350px;
  }
}

@media (max-width: 378px) {
  .board {
    width: 250px;
  }
}