.letter {
    flex: 33%;
    height: 100%;
    border: 1px solid grey;
    margin: 5px;
    display: grid;
    place-items: center;
    font-size: 30px;
    font-weight: bolder;
    color: #7c7c7c;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #correct {
    background-color: #528d4e;
    color: white
  }
  
  #almost {
    background-color: #b49f39;
    color: rgb(233, 233, 233);
  }
  
  #error {
    background-color: #3a393c;
  }